build
.vscode
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
playingcardsthreadsafe
src/.deps/
src/.dirstamp
src/main.o
stamp-h1
